name: main

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
    - "*.*.*"
    branches:
    - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MISE_EXPERIMENTAL: true

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - run: mise run install
    - run: mise run check

  test-deno:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - run: mise run install
    - run: mise run test:deno

  test-node:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - run: mise run install
    - run: mise run test:node

  test-bun:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - run: mise run install
    - run: mise run test:bun
